/* ===========about.css ================= */
/* ===========global variable============ */
:root {
    
    --clr-primary-1: #ecf5fc;
    --clr-primary-2: #b1cce4;
    --clr-primary-3: #77a2cc;
    --clr-primary-4: #3c79b4;
    --clr-primary-5: #014f9c;
    /* define gray shade */
    /* for paragraph */
    --clr-gray-1: #f6f6f6;
    --clr-gray-2: #efefef;
    --clr-gray-3: #dbdbdb;
    --clr-gray-4: #c6c6c6;
    --clr-gray-5: #aeaeae;
    --clr-gray-6: #898989;
    /* for heading */
    --clr-gray-7: #707070;
    --clr-gray-8: #575757;
    --clr-gray-9: #464646;
    --clr-gray-10: #3e3e3e;
    --clr-white : #fff;
    --ff-primary : "Poppins", sans-serif;
    --transition : all 0.3s linear;
    --spacing : 0.25rem;
    --radius : 0.5rem;
    --light-shadow : 0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow : 0 5px 15px rgba(0,0,0,0.2);
    --navbar-Height: 4rem;
}

/* ===========about section============== (checked)*/
.about-photo {
    height: 100%;
    position: relative;
    /* width: 100%; */
}

.about-info {
    margin-bottom: 10px;
    /* h3 {
        text-transform: uppercase;
    } */
    p {
        margin-bottom: 20px;
    }
}

.about-img {
    position: relative;
}

.about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: -1.5rem;
    left: -1.5rem;
    /* border: 0.5rem solid var(--clr-primary-5); */
}

@media(max-width:1033px) {
    .about-center {
        max-width: 1033px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .about-photo {
        width: 100%;
        height: 75%;
    }

    /* .about-info {
        margin-bottom: 10px;
        h3 {
            text-transform: uppercase;
        }
        p {
            margin-bottom: 20px;
        }
    } */
}

.paragraph {
    color:var(--clr-white);
    font-weight: bold;
}

@media(max-width:1033px){
    .paragraph{
        color:var(--clr-primary-4);
        font-weight: bold;
    }
}

.table-center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    overflow: hidden;
    /* grid-template-columns: 1fr 1fr; */
    /* column-gap: 2rem; */
}

