:root {
   
    /* --clr-primary-1: #fee4e2;
    --clr-primary-2: #ffccc9;
    --clr-primary-3: #fdaaa4;
    --clr-primary-4: #fa786f;
    --clr-primary-5: #f24c41;
    --clr-primary-6: #df2f23;
    --clr-primary-7: #c7261b;
    --clr-primary-8: #9b2119;
    --clr-primary-9: #81221b;
    --clr-primary-10: #460d09; */
    --clr-primary-1: #ecf5fc;
    --clr-primary-2: #b1cce4;
    --clr-primary-3: #77a2cc;
    --clr-primary-4: #3c79b4;
    --clr-primary-5: #014f9c;
    /* define gray shade */
    /* for paragraph */
    --clr-gray-1: #f6f6f6;
    --clr-gray-2: #efefef;
    --clr-gray-3: #dbdbdb;
    --clr-gray-4: #c6c6c6;
    --clr-gray-5: #aeaeae;
    --clr-gray-6: #898989;
    /* for heading */
    --clr-gray-7: #707070;
    --clr-gray-8: #575757;
    --clr-gray-9: #464646;
    --clr-gray-10: #3e3e3e;
    --clr-white : #fff;
    --ff-primary : "Poppins", sans-serif;
    --transition : all 0.3s linear;
    --spacing : 0.25rem;
    --radius : 0.5rem;
    --light-shadow : 0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow : 0 5px 15px rgba(0,0,0,0.2);
    --navbar-Height: 4rem;
}

@media(max-width:1033px) {
    h2 {
        font-size: 48px;
    }

    table {
        text-align: center;
        margin: auto;
        border: none;
        max-width: 500px;
    }

    tr {
        text-align: center;
    }

    td, th {
        padding: 20px;
        font-size: 18px;
        color: var(--clr-primary-4);
    }
    
    .address {
        color: var(--clr-primary-4);
        font-size: 20px;
    }

    .back-to-top {
        color: var(--clr-primary-4);
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
        font-size: 18px;
    }

    .back-to-top:hover {
        color: var(--clr-primary-5);
    }

    .back-to-top:active {
        color:var(--clr-primary-5)
    }

     iframe {
        max-width: 500px;
    }

    iframe.iframe {
        max-width: 300px;
        max-height: 200px;
    }
    
    .table-center {
        
        text-align: center;
    }
}
@media(min-width:1033px) {
    h2 {
        font-size: 48px;
    }

    table {
        text-align: center;
        margin: auto;
        border: none;
    }

    tr {
        text-align: center;
    }

    td, th {
        padding: 20px;
        font-size: 36px;
        color: var(--clr-gray-3);
    }
    
    .address {
        color: var(--clr-gray-3);
        font-size: 20px;
    }
    
    .back-to-top {
        color: var(--clr-gray-3);
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
    }

    .back-to-top:hover {
        color:  var(--clr-gray-5);
    }

    .back-to-top:active {
        color: var(--clr-gray-5);
    }

    .table-center {
        text-align: center;
    }
}
