/* ===========global variable=========== */
:root {
   
  /* --clr-primary-1: #fee4e2;
  --clr-primary-2: #ffccc9;
  --clr-primary-3: #fdaaa4;
  --clr-primary-4: #fa786f;
  --clr-primary-5: #f24c41;
  --clr-primary-6: #df2f23;
  --clr-primary-7: #c7261b;
  --clr-primary-8: #9b2119;
  --clr-primary-9: #81221b;
  --clr-primary-10: #460d09; */
  --clr-primary-1: #ecf5fc;
  --clr-primary-2: #b1cce4;
  --clr-primary-3: #77a2cc;
  --clr-primary-4: #3c79b4;
  --clr-primary-5: #014f9c;
  /* define gray shade */
  /* for paragraph */
  --clr-gray-1: #f6f6f6;
  --clr-gray-2: #efefef;
  --clr-gray-3: #dbdbdb;
  --clr-gray-4: #c6c6c6;
  --clr-gray-5: #aeaeae;
  --clr-gray-6: #898989;
  /* for heading */
  --clr-gray-7: #707070;
  --clr-gray-8: #575757;
  --clr-gray-9: #464646;
  --clr-gray-10: #3e3e3e;
  --clr-white : #fff;
  --ff-primary : "Poppins", sans-serif;
  --transition : all 0.3s linear;
  --spacing : 0.25rem;
  --radius : 0.5rem;
  --light-shadow : 0 5px 15px rgba(0,0,0,0.1);
  --dark-shadow : 0 5px 15px rgba(0,0,0,0.2);
  --navbar-Height: 4rem;
}

html,
body {
    font-family: 'Times New Roman', Times, serif;
    background-color:var(--clr-gray-2);
}

.invoice {
    max-width: 1100px;
    background-color: var(--clr-white);
    margin: 0 auto;
    margin-top:  90px;
    padding: 70px 50px;
    border-radius: 10px;
    color: black;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0,0.1); */
}

.invoice-flex {
    display: flex;
    justify-content: space-between;
}

.invoice-header .invoice-header-left img {
    width: 200px;
}

.invoice-header-left h1 {
    font-weight: bold;
    font-size: 48px;
}

.invoice-header-left p {
    font-size: 18px;
}

.invoice-number img {
  width: 80px;
}

.invoice-number {
    font-size: 24px;
}

.item-header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.hr-1 {
  background-color:var(--clr-primary-4); height: 2px; border: 0; margin-top: 20px;
}

.hr-2 {
  background-color: var(--clr-primary-4); height: 2px; border: 0;margin-bottom: 20px;
}

.cart-item {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.cart-item h3 {
  width: 40%;  
}

.cart-item .qty {
  width: 20%;
  padding-left: 80px;
}

.cart-item .amount {
  width: 40%;
  text-align: right;
}
  
/* .qty{
    margin-right: 100px
} */

.cart-noOfItems {
  display: flex;
}

.cart-noOfItems h3 {
  width: 320px;
  text-align: left;
}

.cart-noOfItems p {
  width: 850px;
  text-align: right;
}

.cart-footer {
  display: flex;
}

.cart-footer h2 {
  width: 320px;
  text-align: left;
}

.cart-footer p {
  width: 850px;
  text-align: right;
}
  
.invoice-footer {
  text-align: center;
}
.thanks {
  font-size: 18px;
  margin-bottom: 40px;
}

.invoice-footer a {
  border-radius: 15px;
  font-size: 28px;
  text-decoration: none;
  color:  var(--clr-primary-4)
}

.invoice-footer a:hover {
  color: var(--clr-primary-8)
}

.invoice-footer a:active {
  color:var(--clr-primary-10);
}
